* {
    font-family: DejaVu Sans Mono, monospace;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #F2D5BB;
    position: fixed;
    top: 0;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    color: #1B3C59;
    border-bottom: 3px dashed #F28177
}

h1 {
    font-size: xx-large;
}

h2 {
    padding-bottom: 5px;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer {
    height: 50px;
    background-color: #F2D5BB;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    margin-top: 20px;
    border-top: 3px dashed #F28177
}

figure {
    margin: 10px 50px 10px 50px
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #1B3C59;
    border-radius: 20px;
  }

.display-inline {
    display: inline
}

.text-center {
    text-align: center;
}

.text-right{
    text-align: right;
}

.section-1 {
    padding-top: 110px;
}

.img {
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border: solid 2px #1B3C59;
    width: 40%;
    padding: 10px;
    background-color: #B0BFB5;
}

.contact {
    display: block;
    margin: auto;
    padding: 10px
}

/* Color Theme Swatches in Hex */
.NCC-2022_TEST_Theme-1-hex { color: #1B3C59; }
.NCC-2022_TEST_Theme-2-hex { color: #B0BFB5; }
.NCC-2022_TEST_Theme-3-hex { color: #F2D5BB; }
.NCC-2022_TEST_Theme-4-hex { color: #F2A999; }
.NCC-2022_TEST_Theme-5-hex { color: #F28177; }